<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale1.0">
    <!-- <=== CSS ===> -->
    <link rel="stylesheet" href="forms.component.scss">
</head>
<div class="main">
    <div class="container">
        <header>Registeration Form</header>
        <hr>   
        <form action="#">
            <div class="fields">
                <div class="input-fields">
                    <label for="fname">First Name</label>
                    <input type="text" placeholder="first name" class="fields" >
                    </div>
    
                <div class="input-fields">
                    <label for="lname">Second Name</label>
                    <input type="text" placeholder="Second Name" class="fields">
                    </div>    
                <div class="input-fields">
                    <label for="email">Email</label>
                    <input type="text" placeholder="someone@example.com" class="fields">
                </div>
                    <div class="input-fields">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="number" placeholder="+919999989898" class="fields">
                        </div>        
            </div>
            <div class="fields">
                <title><Address></Address></title>
                <label for="houseNo">House Number</label>
                <input type="text" placeholder="house number/flat number">
             </div>        
        </form>
    </div>
</div>
        
    
    


